---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";

const identity = {
    firstName: "Mia",
    country: "United Kingdom",
    occupation: "Product Designer",
    hobbies: ["basketball", "drawing", "gaming", "movies"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle={pageTitle}>
    <section role="contentinfo" aria-label="Introduction to me">
        <div class="container">
            <p>
                I'm {identity.firstName}, a {identity.occupation} based in {
                    identity.country
                }.
            </p>
        </div>
    </section>
</BaseLayout>