---
import BaseLayout from "../layouts/BaseLayout.astro";
import Ticker from "../components/Ticker.astro";
// import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
  <section role="contentinfo" aria-label="Welcome" class="hero-banner" >
    <div class="container">
      <h1>Hello, my name is Mia Bromige</h1>
    <p class="body-display large">
      I am a Product Designer focused on creating inclusive, exciting digital
      experiences and building brands
    </p>
    <p class="body-display">Currently working at Virgin Atlantic</p>
    </div>
  </section>
  <section>
    <Ticker />
  </section>
</BaseLayout>

<style>
  .hero-banner {
    padding-top: 200px;
    padding-bottom: 64px;
  }
</style>
