---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const allProjects = await Astro.glob("../pages/projects/*.md");
const pageTitle = "Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <div class="container">
            <p>Explore my portfolio of projects</p>
            <div>
                {
                    allProjects.map((project) => (
                        <ProjectCard
                            title={project.frontmatter.client}
                            body={project.frontmatter.intro}
                            url={project.url}
                        />
                    ))
                }
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    main {
        margin: auto;
        padding: 1rem;
        width: 800px;
        max-width: calc(100% - 2rem);
        color: white;
        font-size: 20px;
        line-height: 1.6;
    }
    .astro-a {
        position: absolute;
        top: -32px;
        left: 50%;
        transform: translatex(-50%);
        width: 220px;
        height: auto;
        z-index: -1;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
    .project-wrapper {
        margin-bottom: 5px;
    }
</style>
