---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const pageTitle = "Portfolio";
---

<BaseLayout pageTitle={pageTitle}>
    <section>
        <div class="container">
            <p>Explore my portfolio of projects</p>
            <div>
                <ProjectCard title="Virgin Atlantic" url="/projects/vads"/>
            </div>
        </div>
    </section>
</BaseLayout>
