---
import Nav from "./Nav.astro";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <div class="header-wrapper max-w-screen-xl mx-auto px-4">
    <Nav />
  </div>
</header>
<style>
  header {
    position: fixed;
    height: 5rem /* 80px */;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(var(--color-bg-default));
    border-bottom: 1px solid rgb(var(--color-border-default));
  }
  .header-wrapper {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
</style>
