---
import { Icon } from "astro-icon/components";
const { icon, heading, body } = Astro.props;
---

<li class="card">
    <div class="icon-container">
        <Icon class="icon" name={icon} width={28} height={28}/>
    </div>
    <div class="content-wrapper">
        <h4>{heading}</h3>
        <p class="body-display small">{body}</p>
    </div>
</li>

<style>
    .card {
        border-radius: 0.5rem;
        box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
        padding: 1rem;
    }
    .icon-container {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: #e2def3;
        margin-bottom: 1rem;
    }
    .icon {
        color: #3c0fef;
    }
</style>
