---
---

<section class="max-w-screen-xl mx-auto py-20 px-4 sm:px-8">
    <div class="mb-6">
      <h1
        class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-8 overflow-hidden"
      >
      Hello, my name is
        <span
          class="
              bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
              from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
          "
        >
          Mia Bromige
        </span>
      </h1>
      <p class="text-center text-2xl pb-4">As an ambitious creative designer, I bring practical experience in
        guiding a product from early concept to market fruition. My
        fundamental software expertise enables the creation of exciting and
        technically viable innovative ideas.</p>
    </div>
    <div>
      <p class="text-center mb-5">
        Currently working at 
        <a href={"https://www.virginatlantic.com/"} target="_blank">Virgin Atlantic</a>. 
    </div>
  </section>
  