---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { Image } from "astro:assets";
import ProblemImg from "../../images/va/theProblem.png";
import VADSImg from "../../images/va/vads-cover.png";
import Ticker from "../../components/Ticker.astro";
const pageTitle = "VA-Design-System";
---

<BaseLayout pageTitle={pageTitle}>
    <div class="img-container">
        <Image
            src={VADSImg}
            alt="A variety of Virgin Atlantic Design System components and patterns, arranged into a collage"
            class="hero-img"
        />
    </div>
    <ContentLayout ariaLabel="Introduction">
        <div class="hero-intro">
            <h1>Virgin Atlantic</h1>
            <p class="body-display large">
                As the Product Designer for VA Design System, I was heavily
                involved in designing, documenting and reviewing the development
                of the Design System before releasing it to wider scrum teams in
                the business.
            </p>
        </div>
    </ContentLayout>
    <Ticker text="Product Designer | Design System" />
    <ContentLayout ariaLabel="Overview">
        <div class="subtitle" aria-hidden="true">Overview</div>
        <div class="overview-wrapper">
            <h2 class="section">Building and scaling VA Design System</h2>
            <p class="body-display dual-paragraph">
                Virgin Atlantic has a number of digital experiences that are
                resposnible for key areas of the customer journey; from browsing
                holiday destinations to booking a flight, accessing inflight
                entertainment and staying connected in the skies, the list is
                endless. These experiences are managed by different teams and
                often built using a different design systems with varying levels
                of maturity. Some even built locally without a design system in
                the loop. This makes it near impossible to make any global
                changes to the identity of Virgin Atlantic's digital
                experiences, without huge time and effort costs.
            </p>
        </div>
    </ContentLayout>
    <ContentLayout ariaLabel="The Problem">
        <div class="withImage">
            <div class="subtitle" aria-hidden="true">The Problem</div>
            <h2 class="section">Problem Statement</h2>
            <p class="body-display">
                Virgin Atlantic needed a design system to serve as a single
                source of truth for all scrum teams. This would aim to uphold a
                consistent brand identity, an enhanced user experience, and an
                overall improved efficiency during the implementation of new
                features and proof of concept work.
            </p>
        </div>
        <Image
            src={ProblemImg}
            alt="Lots of button components with differing look-and-feel"
            height="320"
        />
        <p class="body-caption">Here is an example from an internal audit which clearly illustrated the challenge ahead</p>
    </ContentLayout>
    <ContentLayout ariaLabel="The Process">
        <div>
            <div class="subtitle" aria-hidden="true">What we did</div>
            <h2 class="section">The Process</h2>
            <p class="body-display">
                Begin with discussions and brainstorms with the team during the
                empathise stage. Truly figure out what you need to include in
                the Design System based on real time user feedback around
                challenges they face.
            </p>
        </div>
    </ContentLayout>
    <!-- <div class="img-container full-bleed">
        <Image
            src={VADSImg}
            alt="A variety of Virgin Atlantic Design System components and patterns, arranged into a collage"
        />
    </div> -->
    <ContentLayout ariaLabel="The Outcome">
        <div>
            <div class="subtitle" aria-hidden="true">The Outcome</div>
            <h2 class="section">Conclusion</h2>
            <p class="body-display">
                Begin with discussions and brainstorms with the team during the
                empathise stage. Truly figure out what you need to include in
                the Design System based on real time user feedback around
                challenges they face.
            </p>
        </div>
    </ContentLayout>
</BaseLayout>

<style>
    .img-container {
        display: flex;
        justify-content: center;
        border-radius: 24px;
        margin: 32px;

        &.full-bleed {
            margin: 0;
        }
    }
    .hero-img {
        height: 50vh;
        object-fit: cover;
        border-radius: 20px;
    }
    .hero-intro {
        justify-items: center;
        text-align: center;
    }
    .withImage {
        padding-bottom: 32px;
    }
    .image-content {
        display: grid;
        padding: 2rem;
        grid-template-columns: 300px 1fr;
        gap: 1rem;
        align-items: center;
        margin: 0 auto;
        font: 500 100%/1.5 system-ui;
    }
    @media screen and (min-width: 1280px) {
        .hero-img {
            max-width: 1280px;
        }
    }
</style>
